

# (Default: raspios-$RELEASE-$ARCH, for example: raspios-bookworm-armhf)
IMG_NAME="TGUPios"

# (Default: Raspberry Pi reference)
#PI_GEN_RELEASE=

# (Default: bookworm)
#RELEASE=

# (Default: unset)
#APT_PROXY=
APT_PROXY=http://10.10.82.1:3142
#APT_PROXY=http://127.0.0.1:80
#APT_PROXY=http://192.168.208.187:3142

# (Default: location of build.sh)
#BASE_DIR=

# (Default: $BASE_DIR/work)
#WORK_DIR=

# (Default: $BASE_DIR/deploy)
#DEPLOY_DIR=

# (Default: zip)
DEPLOY_COMPRESSION=".img"

# (Default: 6)
#COMPRESSION_LEVEL=

#(Default: 0)
# USE_QEMU=

# (Default: 'en_GB.UTF-8' )
#LOCALE_DEFAULT=

# (Default: 'raspberrypi' )
#TARGET_HOSTNAME="TGUPios"

# (Default: 'gb' )
# KEYBOARD_KEYMAP="Generic 105-key PC"

# (Default: 'English (UK)' )
# KEYBOARD_LAYOUT=
KEYBOARD_LAYOUT="English (UK)"

#(Default: 'Europe/London' )
TIMEZONE_DEFAULT="Europe/London"

#(Default: pi)
#FIRST_USER_NAME=

# (Default: unset)
FIRST_USER_PASS="gps@pi!9"

# (Default: 0)
DISABLE_FIRST_BOOT_USER_RENAME=1

# (Default: unset)
WPA_COUNTRY="GB"

# (Default: 0)
ENABLE_SSH=1

# (Default: unset)
PUBKEY_SSH_FIRST_USER=1


# (Default: 0)
#PUBKEY_ONLY_SSH=


# (Default: unset)
#SETFCAP=


# (Default: stage*)
#STAGE_LIST=
