<section>
    <h2>Frequency Allocation Table</h2>

    <div class="container">
        <textarea class="scanner_settings_textarea" readonly id="fatMapping" placeholder="FAT will appear here..." style="height: 400px;"></textarea>
    </div>    
    <div>
        <button id="restoreDefaultFAT">Restore</button>
        <button id="downloadDefaultFAT">Download</button>
        <input readonly enabled="disabled" type="file" id="newFatMapping" name="filename" style="width: 210px;">
        <button id="uploadNewFAT">Upload</button>
    </div>
    <hr />
</section>




<section>
    <h2>System Settings</h2>
</section>




<script src="/static/fat.js"></script>


