
<h2>System</h2>
<table>
    <tr><td><b>Time</b></td><td id="td_system_time"></td></tr>
    <tr><td><b>Disk</b></td><td id="td_system_disk"></td></tr>
    <tr><td><b>CPU</b></td><td id="td_system_cpu"></td></tr>
    <tr><td><b>Mem</b></td><td id="td_system_mem"></td></tr>

</table>
<hr />

<h2>Status</h2>
<table>
    <tr><td><b>NTP</b></td><td id="td_system_ntpqp"></td></tr>
    <tr><td><b>PPS</b></td><td id="td_system_pps_test="></td></tr>
    <tr><td><b>GPS Sats</b></td><td id="td_system_gps_sats"></td></tr>
    <tr><td><b>Wifi Clients</b></td><td id="td_system_wifi_clients"></td></tr>
    <tr><td><b>DNS Clients</b></td><td id="td_system_dns_clients"></td></tr>
</table> 
<hr />

<h2>Service Status</h2>
<table>
    <tr><td><b>Shorewall Service</b></td><td id="td_system_"></td></tr>
    <tr><td><b>GPSD Service</b></td><td id="td_system_"></td></tr>
    <tr><td><b>DNS Service</b></td><td id="td_system_"></td></tr>
    <tr><td><b>HostAPD</b></td><td id="td_system_"></td></tr>
</table>
<hr />

<h2>Versions</h2>
<table>
    <tr><td><b>OS Version</b></td><td id="td_system_"></td></tr>
    <tr><td><b>Kernel Version</b></td><td id="td_system_"></td></tr>
    <tr><td><b>Hostpad Version</b></td><td id="td_system_"></td></tr>
    <tr><td><b>DNSMasq Version</b></td><td id="td_system_"></td></tr>
    <tr><td><b>Shorewall Version</b></td><td id="td_system_"></td></tr>
    <tr><td><b>GPSD Version</b></td><td id="td_system_"></td></tr>
    <tr><td><b>Python Version</b></td><td id="td_system_"></td></tr>
</table>
<hr />


<h2>Hardware</h2>
<table>
    <tr><td><b>SBC</b></td><td id="td_system_"></td></tr>
    <tr><td><b>GPS</b></td><td id="td_system_"></td></tr>
    <tr><td><b>SDR</b></td><td id="td_system_"></td></tr>
</table>

<h2>Service</h2>
<div>
    <button id="scannerRestart">Restart</button>
</div>



<script src="/static/system.js"></script>