
<section>
    <h2>Current Scan</h2>
    <div>
        <button id="scannerStart">Start</button>
        <button id="scannerStop">Stop</button>
    </div>
    <br />

    <div>
        ID(s) <input type="text", placeholder="2,14,133 or empty for all", id="scan_ids" value="" title="scan_ids, comma separated list">  Use DB Level<input type="checkbox" id="useTrigger" checked="checked">
    </div>
    <textarea readonly id="scanStatus" placeholder="Scan Status" style="height: 100px;"></textarea>
</section>


    
<section>
    <h2>Scan History</h2>
    <div>
        <button id="showScansFiles">Refresh</button>
        <button id="removeScanFiles">Clean</button>
    </div>
    <textarea readonly id="previousScansFiles" placeholder="Previous Scans" style="height: 70px;"></textarea>
</section>


<section>
    <h2>Current Scan Data</h2>
    <div>
        <button id="getLiveScanData" style="width: 200px;">Show first 10 lines</button>
        <button id="downLoadLiveFile" style="width: 200px;">Download Current CSV File</button>
    </div>
    <textarea readonly id="liveScanDataArea" placeholder="Previous Scans" style="height: 60px;"></textarea>
</section>



<section>
    <h2>Current Analysis</h2>
    <div>
        <button id="showCurrentAnalysis">Show Analysis</button>
        <!-- 
        <select id="plotSelect">
            <option value="heatmap">Heatmap</option>
            <option value="mesh3d">Mesh3D</option>
            <option value="lines">Lines</option>
            <option value="markers">Markers</option>
            <option value="histogram3d">Histogram3D</option>
        
        </select>
        -->
        <div id="plot_div"></div>
    </div>
</section>





<script src="/static/plotly.js"></script>
<script src="/static/scanner.js"></script>